<!-- big login box -->
<div class="span8 offset1">
  <form>
    <fieldset>
      <legend>Sign in with your dropbox</legend>
      <label>Username</label>
      <input type="text" name="username">
      <label>Password</label>
      <input type="password" name="password">
    </fieldset>
      <input type="submit">
  </form>
</div>


