<!-- big login box -->
<div class="span8 offset1">
  <span class="notice hidden"></span>
  <div class="dropbox-login">
    <a href="">login with Dropbox!</a>
  </div>
  <form method="POST" class="ajaxify">
    <fieldset>
      <legend>Sign in</legend>
      <label>Email</label>
      <input type="text" name="email">
      <label>Password</label>
      <input type="password" name="password">
    </fieldset>
      <input type="submit">
  </form>
</div>


